absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1634676905105/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
audioread @ file:///Users/runner/miniforge3/conda-bld/audioread_1649550275820/work
Bottleneck @ file:///opt/concourse/worker/volumes/live/d60669af-e41f-414a-5ae7-15dbf0f1c780/volume/bottleneck_1648028923597/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854223204/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi==2022.6.15
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/croot-2p6q7e2r/cffi_1642701115063/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1652967068305/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython @ file:///opt/concourse/worker/volumes/live/ee463bd2-8a8d-4796-6c6e-1a3524d842d1/volume/cython_1647850374544/work
darkflow @ file:///Users/clementl/Desktop/projet_fil_rouge/mwm_pfr/darkflow-mast
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
ffmpeg-python==0.2.0
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1651017805703/work
future @ file:///Users/runner/miniforge3/conda-bld/future_1649010190067/work
gast==0.2.2
google-pasta==0.2.0
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpcio_1624380711723/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1624405689328/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
imageio==2.6.1
imageio-ffmpeg @ file:///home/conda/feedstock_root/build_artifacts/imageio-ffmpeg_1649960641006/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1653252899114/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
Keras-Applications==1.0.8
Keras-Preprocessing @ file:///home/conda/feedstock_root/build_artifacts/keras-preprocessing_1610713559828/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1655141663460/work
librosa @ file:///home/conda/feedstock_root/build_artifacts/librosa_1656336149289/work
llvmlite==0.38.0
madmom==0.16.1
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1651821407140/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1651609691413/work
miditoolkit==0.1.16
mido==1.2.10
moviepy @ file:///home/conda/feedstock_root/build_artifacts/moviepy_1650150436575/work
munkres==1.1.4
numba @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_croot-p56zvl1f/numba_1648040520212/work
numexpr @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_af4b0e04-04bd-4fbe-a784-5f99c0e1839bdms4cshf/croots/recipe/numexpr_1656071946025/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1649806371302/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opt-einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1617859230218/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.3.5
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1602493105252/work
plotly @ file:///opt/conda/envs/env/conda-bld/plotly_1656006748598/work/packages/python/plotly/dist/plotly-5.9.0.tar.gz
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1643032624649/work
proglog==0.1.9
protobuf==3.15.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydub @ file:///home/conda/feedstock_root/build_artifacts/pydub_1615612442567/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1648857315402/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1caf090c-01b6-4973-adac-d2eb884a674e7zonb9eb/croots/recipe/pytz_1654762641285/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1656243196385/work
resampy==0.2.2
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1640464192339/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1637806768271/work
sf-segmenter==0.0.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
SoundFile @ file:///home/conda/feedstock_root/build_artifacts/pysoundfile_1607011569782/work
tenacity @ file:///opt/concourse/worker/volumes/live/d7996077-fc26-44c3-4d3c-290a59a5f914/volume/tenacity_1632757016987/work
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1649051611147/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1650370875435/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1649112008529/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1647489083693/work
Werkzeug==0.16.1
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1651495324810/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
