# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/osx-64/_tflow_select-2.3.0-mkl.conda
https://conda.anaconda.org/anaconda/osx-64/blas-1.0-openblas.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/bzip2-1.0.8-h0d85af4_4.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/c-ares-1.18.1-h0d85af4_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/ca-certificates-2022.6.15-h033912b_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/jpeg-9e-h5eb16cf_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/lame-3.100-h35c211d_1001.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libbrotlicommon-1.0.9-h5eb16cf_7.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libcxx-14.0.6-hce7ea42_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libev-4.33-haf1e3a3_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libiconv-1.16-haf1e3a3_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libogg-1.3.4-h35c211d_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libopus-1.3.1-hc929b4f_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libwebp-base-1.2.2-h0d85af4_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/llvm-openmp-14.0.4-ha654fa7_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/ncurses-6.3-hca72f7f_2.conda
https://conda.anaconda.org/conda-forge/osx-64/nettle-3.6-hedd7734_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pixman-0.40.0-hbcb3906_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/x264-1!161.3030-h0d85af4_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/xz-5.2.5-hca72f7f_1.conda
https://repo.anaconda.com/pkgs/main/osx-64/zlib-1.2.12-h4dc903c_2.conda
https://conda.anaconda.org/conda-forge/osx-64/gmp-6.2.1-h2e338ed_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/graphite2-1.3.13-h2e338ed_1001.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/icu-68.2-he49afe7_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/jasper-1.900.1-h636a363_1006.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libbrotlidec-1.0.9-h5eb16cf_7.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libbrotlienc-1.0.9-h5eb16cf_7.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libedit-3.1.20191231-h0678c8f_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/libffi-3.3-hb1e8313_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libgfortran5-9.3.0-h6c81a4c_23.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libllvm11-11.1.0-hd011deb_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libpng-1.6.37-h7cec526_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libprotobuf-3.15.8-hcf210ce_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libvorbis-1.3.7-h046ec9c_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/lz4-c-1.9.3-he49afe7_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/openh264-2.1.1-hfd3ada9_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/openssl-1.1.1p-hfe4f2af_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pcre-8.45-he49afe7_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/readline-8.1.2-hca72f7f_1.conda
https://conda.anaconda.org/conda-forge/osx-64/tbb-2021.5.0-hbb4e6a2_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/tk-8.6.12-h5d9f67b_0.conda
https://conda.anaconda.org/conda-forge/osx-64/brotli-bin-1.0.9-h5eb16cf_7.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/freetype-2.10.4-h4cff582_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/gettext-0.19.8.1-h7937167_1005.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/krb5-1.19.3-hb49756b_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libgfortran-5.0.0-9_3_0_h6c81a4c_23.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libnghttp2-1.43.0-h6f36284_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libssh2-1.10.0-h52ee1ee_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libxml2-2.9.12-h93ec3fd_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/sqlite-3.38.5-h707629a_0.conda
https://conda.anaconda.org/conda-forge/osx-64/zstd-1.4.9-h582d3a0_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/brotli-1.0.9-h5eb16cf_7.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/fontconfig-2.13.94-h10f422b_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/gnutls-3.6.13-h756fd2b_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libcurl-7.79.1-hf45b732_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libflac-1.3.4-h96cf925_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libglib-2.68.4-hd556434_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libopenblas-0.3.20-openmp_hb3cd9ec_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/libtiff-4.2.0-h87d7836_0.conda
https://repo.anaconda.com/pkgs/main/osx-64/python-3.7.13-hdfd78df_0.conda
https://conda.anaconda.org/conda-forge/noarch/appdirs-1.4.4-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/astor-0.8.1-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/cached_property-1.5.2-pyha770c72_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/cairo-1.16.0-he43a7df_1008.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/charset-normalizer-2.0.12-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/colorama-0.4.5-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/cycler-0.11.0-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/cython-0.29.28-py37he9d5cce_0.conda
https://conda.anaconda.org/conda-forge/noarch/decorator-5.1.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/ffmpeg-4.3.2-h4dad6da_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/gast-0.2.2-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/hdf5-1.10.6-nompi_hc5d9132_1114.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/idna-3.3-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/lcms2-2.12-h577c468_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libblas-3.9.0-15_osx64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libsndfile-1.0.31-he49afe7_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/llvmlite-0.38.0-py37h8346a28_0.conda
https://conda.anaconda.org/conda-forge/noarch/munkres-1.1.4-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/olefile-0.46-pyh9f0ad1d_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pycparser-2.21-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pydub-0.25.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyparsing-3.0.9-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/python_abi-3.7-2_cp37m.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/pytz-2022.1-py37hecd8cb5_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/six-1.16.0-pyh6c4a22f_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/tenacity-8.0.1-py37hecd8cb5_0.conda
https://conda.anaconda.org/conda-forge/noarch/termcolor-1.1.0-py_2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/threadpoolctl-3.1.0-pyh8a188c0_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/typing_extensions-4.2.0-pyha770c72_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/werkzeug-0.16.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/wheel-0.37.1-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/zipp-3.8.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/absl-py-0.15.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/audioread-2.1.9-py37hf985489_3.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/cached-property-1.5.2-hd8ed1ab_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/certifi-2022.6.15-py37hf985489_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/cffi-1.15.0-py37hc55c11b_1.conda
https://conda.anaconda.org/conda-forge/osx-64/future-0.18.2-py37hf985489_5.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/google-pasta-0.2.0-pyh8c360ce_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/harfbuzz-2.9.1-h159f659_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/importlib-metadata-4.11.4-py37hf985489_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libcblas-3.9.0-15_osx64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/liblapack-3.9.0-15_osx64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/packaging-21.3-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pillow-7.2.0-py37hf860fee_2.tar.bz2
https://conda.anaconda.org/plotly/noarch/plotly-5.9.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pysocks-1.7.1-py37hf985489_5.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/python-dateutil-2.8.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/tqdm-4.64.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/typing-extensions-4.2.0-hd8ed1ab_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/unicodedata2-14.0.0-py37h69ee0a8_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/wrapt-1.14.1-py37h994c40b_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/brotlipy-0.7.0-py37h69ee0a8_1004.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/cryptography-37.0.2-py37h0169fcd_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ffmpeg-python-0.2.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/fonttools-4.33.3-py37h994c40b_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/kiwisolver-1.4.3-py37h229a17a_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/liblapacke-3.9.0-15_osx64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/markdown-3.3.7-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/numpy-1.21.6-py37h345d48f_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/proglog-0.1.9-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/setuptools-61.2.0-py37hecd8cb5_0.conda
https://conda.anaconda.org/anaconda/osx-64/bottleneck-1.3.4-py37h67323c0_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/grpcio-1.38.1-py37h87f55f7_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/h5py-3.3.0-nompi_py37hdf859c4_100.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/imageio-2.6.1-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/imageio-ffmpeg-0.4.7-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/joblib-1.1.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libopencv-4.5.2-py37hf96e15b_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/matplotlib-base-3.5.2-py37h80cb303_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/numba-0.55.1-py37hae1ba45_0.conda
https://conda.anaconda.org/anaconda/osx-64/numexpr-2.8.1-py37h0f1bd0b_2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/opt_einsum-3.3.0-pyhd8ed1ab_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pip-21.2.2-py37hecd8cb5_0.conda
https://conda.anaconda.org/conda-forge/osx-64/protobuf-3.15.8-py37hd8d24ac_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyopenssl-22.0.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pysoundfile-0.10.3.post1-pyhd3deb0d_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/scipy-1.7.3-py37h4e3cf02_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/keras-applications-1.0.8-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/keras-preprocessing-1.1.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/anaconda/osx-64/pandas-1.3.5-py37h743cdd8_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/py-opencv-4.5.2-py37h85f7c60_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/resampy-0.2.2-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/scikit-learn-1.0.2-py37h572704e_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/tensorboard-1.15.0-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/urllib3-1.26.9-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/opencv-4.5.2-py37hf985489_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/requests-2.28.0-pyhd8ed1ab_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/tensorflow-base-1.15.0-mkl_py37h032239d_0.conda
https://conda.anaconda.org/conda-forge/noarch/moviepy-1.0.3-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pooch-1.6.0-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/tensorflow-estimator-1.15.1-pyh2649769_0.conda
https://conda.anaconda.org/conda-forge/noarch/librosa-0.9.2-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/tensorflow-1.15.0-mkl_py37hb249377_0.conda
